.headerBG {
  background:
    linear-gradient(rgba(255,255,255,0.7), rgba(0,0,0,0.7)),
    url('../images/header_back2.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  margin-top: 120px;
  height: 550px;
}

.avatarGroup {
  padding: 100px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

#avatarImg {
  margin-top: 100px;
  margin: auto;
}

.headerBG .userName {
  margin: auto;
  color: var(--text_color);
  font-family: var(--fancy_font), Arial, Helvetica, sans-serif;
}
