#newTweetForm {
  display: flex;
  flex-direction: column;
}

#newTweetForm .counter {
  color: var(--text_color);
  margin: 10px 5px;
  font-size: 0.8em;
  margin-left: auto;
  padding: 20px 30px 5px 30px;
}

.newTweetTextArea {
  height: 200px;
  background-color: var(--text_color);
  color: var(--nav_bg);
  padding: 20px;
  border: none;
}

.inputBtn {
  border-radius: 0 0 15px 15px;
  padding: 10px 0;
  border: none;
  background-color: var(--body_bg);
  color: var(--text_color);
  font-family: var(--fancy_font);
}

.counter {
  color: var(--nav_bg);
}

.invalidTweetAlert {
  display: none;
  border: 1px solid var(--error);
  margin: 0 auto 20px auto;
  padding: 10px;
  background-color: var(--error);
  color: var(--text_color);
}